version: '3.8'
services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: polls
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


app:
 build: .
 environment:
   DATABASE_URL: postgres://postgres:postgres@db:5432/polls
 depends_on:
   - db
 ports:
   - "3000:3000"


volumes:
  pgdata: