<html lang='pt-BR'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link href='/public/favicon.ico' rel='icon' type='image/x-icon' />
    <title>PollApp - v{{version}}</title>
    <script src='https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js'></script>
    <link rel="stylesheet" href="/public/style.css" />
  </head>
  <body>
    <div class='container'>
      <img src='/public/logo.png' class='logo' />
      <div class='header'>
        <h1>PollApp v{{version}}</h1>
      </div>
      <div class='header'>
        Sistema de enquetes realtime com NestJS + Fastify + Prisma.
      </div>
      <div class='body'>
        <lottie-player
          src='https://assets5.lottiefiles.com/packages/lf20_ko8ud57v.json'
          background='transparent'
          speed='1'
          style='width: 350px; height: 350px;'
          loop
          autoplay
        ></lottie-player>
        <a href='/docs' class='btn'>Documentação</a>
      </div>
      <div class='footer'>
        <p>Desenvolvido por <a href='mailto:hudsonhugo90@gmail.com'> HK Dev</a></p>
      </div>
    </div>
  </body>
</html>
